*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
    background: #e4e4e4;;
}

.block{
    box-sizing: border-box;

}
.scrollbar{
    overflow-y: scroll;
    overflow-x: hidden;

}
.scrollbar::-webkit-scrollbar {
    width: 7px;
}

.right::-webkit-scrollbar-thumb {
    background: linear-gradient(#9fc1ef, #7b8793);
    border-radius: 10px;
}

.left::-webkit-scrollbar-thumb {
    background: linear-gradient(#121314, #757676);
    border-radius: 10px;
}

/*_____________________LEFT_________________*/

.left{
    flex-grow: 1.7;

    position: sticky ;
    top: 0;
    height:100vh;
    background:  linear-gradient(#757676, #121314);
    opacity: 0.85;
    flex-basis: 0;
    overflow-y: scroll;
}

.block_caterory{
    margin: 100px 55px;
}

.categories{
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
    color: #8bc3c2;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.list_categories{
    margin-top: 5px;
    margin-left: 7px;
    list-style-type: none;
}

.cat{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    font-family: Lato;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
}

.link_sub{
    text-decoration: none;
    font-family: Russo One;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #B5B5B5;
}

.link_sub:hover{
    color: #d8d8d8;
    font-size: 16px;
    line-height: 19px;
}


/*_____________________MIDDLE_________________*/

.mid{
    flex-grow: 6;


    min-height: 100vh;
    flex-basis: 0;
}
.top{
    height: 90px;
    border:  1px darkcyan;
    border-style: none none solid none ;
}

.post{
    margin: 5px 10px 30px 10px;
    border-radius: 5px;
    background:  linear-gradient(#757676, #90afda);
    padding: 4px;
    box-sizing: border-box;
}

.block_author{
    margin: 5px 10px 10px 15px;
    font-family: cursive;
    display: flex;
    justify-content: space-between;
}

.link_author{
    text-decoration: none;
    font-size: 19px;
    margin-right: 15px;
    color: #9fc1ef;
}
.link_author:hover{
    color:cyan;
}
.time{
    align-self: center;
}
.block_count_C_V{
    align-self: center;
}
.text_C_V{
    font-size: 13px;
    margin-right: 12px;
}


.post_image_prev{
    width: 100%;
    max-height: 1080px;
    border-radius: 5px;
}
.post_title{
    margin: 12px 0px 0px 20px;
    color: #121314;
}

.post_intro{
    margin: 12px 0px 0px 20px;
    font-size: large;
    font-weight:bold;
    color: #121314;
}

.read_more{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.link_read_more{
    text-decoration: none;
    font-size: 15px;
    font-family: cursive;
    color: #121314;
}
.link_read_more:hover{
    color: #757676;
    
}
.blog_tags{
    margin: 12px;
    border:  1px darkcyan;
    border-style: solid none none none ;
    padding-top: 5px;
    box-sizing: border-box;
}

.teg{
    display:inline-block;
	color:#f0eeee;
	background-color: #757676;
	border-radius: 5px;
	margin: 2px;
	padding: 2px 5px;
	font-size: 15px;
    font-family: Russo One;
}
.teg:hover{
    color:#757676;
	background-color: #f0eeee;
}
/*_____________________RIGHT_________________*/

.right{
    flex-grow: 1.4;

    position: sticky ;
    top: 0;
    height:100vh;
    background:  linear-gradient(#9fc1ef, #7b8793);
    opacity: 0.8;
    flex-basis: 0;
}


.profile-pic{
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.fullname{
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    margin: 10px 20px;
}


.block_social{

    list-style-type: none;
    display: flex;
    margin: 0px 20px 10px;
}

.social_link{
    width: 22px;
    height: 22px;

    margin-right: 5px;
    box-sizing: border-box;
}
.social_img{
    width: 22px;
    height: 22px;
}

.user_info{
    margin: 0px 20px 10px;
}

.user_label{
    font-size: 12px;
    line-height: 14px;
    font-family: Lato;
}

.user_date{
    margin-bottom: 21px;
    font-family: cursive;
    font-size: 16px;
    line-height: 19px;
}

/*_____________________crispy_forms_________________*/

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.form_container{
    width: 95%;
	margin: 0 auto;
    font-size: 17px;
}

#id_headline >{
    max-width: 100%;
}

#div_id_tags > div{
    max-height : 100px;
    overflow-y : scroll;
    border : 1px solid #888;
    padding : 5px;
    border-radius : 5px;
}

.textinput{

    border: none;
	width: 100%;
    padding: 10px 0 10px 15px ;
	border-radius: 5px;
	font-size: 19px;
    box-sizing: border-box;
}

.textinput:focus{
    box-shadow: 3px 8px 6px rgb(174, 188, 201);
}

.form-group{
    margin-bottom: 15px;
}

