{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Russo+One&display=swap" rel="stylesheet">
    <title>base</title>

</head>
<div class="container">
    <!-- /*_____________________LEFT_________________*/ -->
    <div class="block left scrollbar">

        <div class="block_caterory">
            <div class="categories">CATEGORIES</div>
            <ul class="list_categories">
                <li class="cat"><a class="link_sub" href="#"># name</a>
                    <div> 12</div>
                </li>
                <li class="cat"><a class="link_sub" href="#"># name</a>
                    <div> 12</div>
                </li>
                <li class="cat"><a class="link_sub" href="#"># name</a>
                    <div> 12</div>
                </li>
                <li class="cat"><a class="link_sub" href="#"># name</a>
                    <div> 12</div>
                </li>
                <li class="cat"><a class="link_sub" href="#"># name</a>
                    <div> 12</div>
                </li>
            </ul>

        </div>

        <div class="block_caterory">
            <div class="categories">
                <div>SUBSCRIPTIONS</div>
                <div>32</div>
            </div>
            <ul class="list_categories">
                <li class="cat"><a class="link_sub" href="#"># name</a>
                    <div> 12</div>
                </li>
                <li class="cat"><a class="link_sub" href="#"># name</a>
                    <div> 12</div>
                </li>
                <li class="cat"><a class="link_sub" href="#"># name</a>
                    <div> 12</div>
                </li>
                <li class="cat"><a class="link_sub" href="#"># name</a>
                    <div> 12</div>
                </li>
                <li class="cat"><a class="link_sub" href="#"># name</a>
                    <div> 12</div>
                </li>
            </ul>

        </div>

    </div>


    <!-- /*_____________________MIDDLE_________________*/ -->


    <div class="block mid">
        <div class="top"></div>
        {% block middle %}


        {% endblock middle  %}
    </div>




    <!-- /*_____________________RIGHT_________________*/ -->
    <div class="block right scrollbar">

            <a href="{% url 'blog:posts' %}">posts</a>
        {% if user.is_authenticated %}
            <a href="{% url 'blog:create_post' %}">create post</a>
        {% endif %}
        <img class="profile-pic" src="{% static 'images/default_ava.jpg' %}" alt="">

        <div class="fullname">Amilia Luna</div>

        <ul class="block_social">
            <li class="social_link">
                <a href="#">
                    <img class="social_img" src="facebook-96.png" alt="">
                </a>
            </li>
            <li class="social_link">
                <a href="#">
                    <img class="social_img" src="instagram-96.png" alt="">
                </a>
            </li>
            <li class="social_link">
                <a href="#">
                    <img class="social_img" src="вконтакте-96.png" alt="">
                </a>
            </li>
        </ul>
        <div class="user_info">
            <div class="user_label">Username</div>
            <div class="user_date">{{ user }}</div>

            <div class="user_label">Email</div>
            <div class="user_date">email</div>

            <div class="user_label">About me</div>
            <div class="user_date">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi hic nihil a vel
                id recusandae fugiat facere
                et mollitia, incidunt cum asperiores nemo nam officiis quia inventore dolores. Similique omnis veritatis
                voluptatibus facilis eius beatae nam adipisci rerum, repudiandae doloremque itaque nobis quibusdam
                quaerat
                debitis delectus ab vero amet distinctio eum asperiores repellendus blanditiis assumenda ullam totam.
                Ad,
                voluptate. Itaque consectetur nobis cupiditate quibusdam officiis optio et accusantium quidem pariatur
                quis rem
                vam similique aliquid, eius
                molestias minus magni praesentium illo voluptas, accusamus ut modi nulla. Doloremque illum dicta
                dignissimos
                saepe, eum illo reprehenderit maxime accusamus dolores sit incidunt id obcaecati deleniti cumque dolore
                veniam
                blanditiis aliquid explicabo. Assumenda, laborum omnis! Molestias, asperiores.
                eius
                molestias minus magni praesentium illo voluptas, accusamus ut modi nulla. Doloremque illum dicta
                dignissimos
                saepe, eum illo reprehenderit maxime accusamus dolores sit incidunt id obcaecati deleniti cumque dolore
                veniam
                blanditiis aliquid explicabo. Assumenda, laborum omnis! Molestias, asperiores.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi hic nihil a vel id recusandae fugiat
                facere
                et mollitia, incidunt cum asperiores nemo nam officiis quia inventore dolores. Similique omnis veritatis
                voluptatibus facilis eius beatae nam adipisci rerum, repudiandae doloremque itaque nobis quibusdam
                quaerat
                debitis delectus ab vero amet distinctio eum asperiores repellendus blanditiis assumenda ullam totam.
                Ad,
                voluptate. Itaque consectetur nobis cupiditate quibusdam officiis optio et accusantium quidem pariatur
                quis
                rem
                voluoluptatibus suscipit eum praesentium sapiente, nihil quae iste esse officia
                dignissimos, architecto aliquam magni reprehenderit? Odit quam fugit delectus libero quo harum iusto
                voluptate
                vitae dolore quidem aspernatur cumque, rerum repellendus nisi qui doloremque ad repellat aperiam placeat
                illo
                non quibusdam iure. Magni non veritatis, asperiores voluptas adipisci earum magnam alias quisquam, culpa
                autem
                nobis cum. Porro distinctio dolores ipsum numquam laboriosam doloremque error quibusdam similique
                aliquid,
                eius
                molestias minus magni praesentium illo voluptas, accusamus ut modi nulla. Doloremque illum dicta
                dignissimos
                saepe, eum illo reprehenderit maxime accusamus dolores sit incidunt id obcaecati deleniti cumque dolore
                veniam
                blanditiis aliquid explicabo. Assumenda, laborum omnis! Molestias, asperiores.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi hic nihil a vel id recusandae fugiat
                facere
                et mollitia, incidunt cum asperiores nemo nam officiis quia inventore dolores. Similique omnis veritatis
                voluptatibus facilis eius beatae nam adipisci rerum, repudiandae doloremque itaque nobis quibusdam
                quaerat
                debitis delectus ab vero amet distinctio eum asperiores repellendus blanditiis assu
                debitis delectus ab vero amet distinctio eum asperiores repellendus blanditiis assumenda ullam totam.
                Ad,
                voluptate. Itaque consectetur nobis cupiditate quibusdam officiis optio et accusantium quidem pariatur
                quis
                rem
                voluoluptatibus suscipit eum praesentium sapiente, nihil quae iste esse officia
                dignissimos, architecto aliquam magni reprehenderit? Odit quam fugit delectus libero quo harum iusto
                voluptate
                vitae dolore quidem aspernatur cumque, rerum repellendus nisi qui doloremque ad repellat aperiam placeat
                illo
                non quibusdam iure. Magni non veritatis, asperiores voluptas adipisci earum magnam alias quisquam, culpa
                autem
                nobis cum. Porro distinctio dolores ipsum numquam laboriosam doloremque error quibusdam similique
                aliquid,
                eius
                molestias minus magni praesentium illo voluptas, accusamus ut modi nulla. Doloremque illum dicta
                dignissimos
                saepe, eum illo reprehenderit maxime accusamus dolores sit incidunt id obcaecati deleniti cumque dolore
                veniam
                blanditiis aliquid explicabo. Assumenda, laborum omnis! Molestias, asperiores.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi hic nihil a vel id recusandae fugiat
                facere
                et mollitia, incidunt cum asperiores nemo nam officiis quia inventore dolores. Similique omnis veritatis
                voluptatibus facilis eius beatae nam adipisci rerum, repudiandae doloremque itaque nobis quibusdam
                quaerat
                debitis delectus ab vero amet distinctio eum asperiores repellendus blanditiis assu
                debitis delectus ab vero amet distinctio eum asperiores repellendus blanditiis assumenda ullam totam.
                Ad,
                voluptate. Itaque consectetur nobis cupiditate quibusdam officiis optio et accusantium quidem pariatur
                quis
                rem
                voluoluptatibus suscipit eum praesentium sapiente, nihil quae iste esse officia
                dignissimos, architecto aliquam magni reprehenderit? Odit quam fugit delectus libero quo harum iusto
                voluptate
                vitae dolore quidem aspernatur cumque, rerum repellendus nisi qui doloremque ad repellat aperiam placeat
                illo
                non quibusdam iure. Magni non veritatis, asperiores voluptas adipisci earum magnam alias quisquam, culpa
                autem
                nobis cum. Porro distinctio dolores ipsum numquam laboriosam doloremque error quibusdam similique
                aliquid,
                eius
                molestias minus magni praesentium illo voluptas, accusamus ut modi nulla. Doloremque illum dicta
                dignissimos
                saepe, eum illo reprehenderit maxime accusamus dolores sit incidunt id obcaecati deleniti cumque dolore
                veniam
                blanditiis aliquid explicabo. Assumenda, laborum omnis! Molestias, asperiores.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi hic nihil a vel id recusandae fugiat
                facere
                et mollitia, incidunt cum asperiores nemo nam officiis quia inventore dolores. Similique omnis veritatis
                voluptatibus facilis eius beatae nam adipisci rerum, repudiandae doloremque itaque nobis quibusdam
                quaerat
                debitis delectus ab vero amet distinctio eum asperiores repellendus blanditiis assu
            </div>
        </div>


    </div>
</div>

<body>

</body>

</html>