{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Russo+One&display=swap" rel="stylesheet">
    <title>base</title>

</head>

<div class="container">
    {% block read_post %}

        <!-- /*_____________________LEFT_________________*/ -->
        <div class=" left scrollbar">

            <div class="block_caterory">
                <div class="categories">TAGS</div>

                <form action="" method="GET">
                    {{ post_filter.form.tags}}
                    <input class="teg" type="submit" value="Поиск">
                </form>

            </div>

            <div class="block_caterory">
                <div class="categories">
                    <div>SUBSCRIPTIONS</div>
                    <div>32</div>
                </div>
                <ul class="list_categories">
                    <li class="cat"><a class="link_sub" href="#"># name</a>
                        <div> 12</div>
                    </li>
                    <li class="cat"><a class="link_sub" href="#"># name</a>
                        <div> 12</div>
                    </li>
                    <li class="cat"><a class="link_sub" href="#"># name</a>
                        <div> 12</div>
                    </li>
                    <li class="cat"><a class="link_sub" href="#"># name</a>
                        <div> 12</div>
                    </li>
                    <li class="cat"><a class="link_sub" href="#"># name</a>
                        <div> 12</div>
                    </li>
                </ul>

            </div>

        </div>


        <!-- /*_____________________MIDDLE_________________*/ -->


        <div class=" mid">
            <div class="top">

                <form action="" method="GET">
                    {{ post_filter.form.headline}}
                    <input class="teg" type="submit" value="Поиск">
                </form>
            </div>
            {% block middle %}
            {% endblock middle  %}
        </div>

    {% endblock read_post  %}
    <!-- /*_____________________RIGHT_________________*/ -->
    <div class=" right scrollbar">

            <a href="{% url 'blog:posts' %}">posts</a>
            <a href="{% url 'blog:create_post' %}">create post</a>

        {% if user.is_authenticated or object %}



            <img class="profile-pic" src="{% static 'images/default_ava.jpg' %}" alt="">

            <div class="fullname">{% firstof object.author.get_full_name object.author user.get_full_name user %}</div>

            <ul class="block_social">
                <li class="social_link">
                    <a href="#">
                        <img class="social_img" src="facebook-96.png" alt="">
                    </a>
                </li>
                <li class="social_link">
                    <a href="#">
                        <img class="social_img" src="instagram-96.png" alt="">
                    </a>
                </li>
                <li class="social_link">
                    <a href="#">
                        <img class="social_img" src="вконтакте-96.png" alt="">
                    </a>
                </li>
            </ul>
            <div class="user_info">

                {% if object.author %}

                    <div class="user_label">Username</div>
                        <div class="user_date"># {{ object.author }}</div>
                    <div class="user_label">Email</div>
                        <div class="user_date">{{ object.author.email }}</div>
                    <div class="user_label">About me</div>
                        <div style="font-family: cursive" class="user_date"> {{ object.author.about_me }}</div>

                {% else %}

                    <div class="user_label">Username</div>
                        <div class="user_date"># {{ user }}<a href="{% url 'blog:posts_user' %}"> My post</a></div>

                    <div class="user_label">Email</div>
                        <div class="user_date">{{ user.email }}</div>
                    <div class="user_label">About me</div>
                        <div style="font-family: cursive" class="user_date"> {{ user.about_me }}</div>
                {% endif %}
        {% endif %}

        </div>


    </div>
</div>

<body>

</body>

</html>