{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Russo+One&display=swap" rel="stylesheet">
    <title>base</title>

</head>

<div class="container">
    {% block read_post %}

        <!-- /*_____________________LEFT_________________*/ -->
        <div class=" left scrollbar">

            <div class="block_caterory">
                <div class="categories">SEARCH TO TAGS</div>

                <form action="" method="GET">
                    {{ post_filter.form.tags}}
                    <input  class="btn_tags" type="submit" value="SEARCH">
                </form>
            </div>

            <div class="block_caterory">
                <div class="categories">
                    <div>SUBSCRIPTIONS</div>
                    <div>32</div>
                </div>
                <ul class="list_categories">
                    <li class="cat"><a class="link_sub" href="#"># name</a>
                        <div> 12</div>
                    </li>
                    <li class="cat"><a class="link_sub" href="#"># name</a>
                        <div> 12</div>
                    </li>
                    <li class="cat"><a class="link_sub" href="#"># name</a>
                        <div> 12</div>
                    </li>
                    <li class="cat"><a class="link_sub" href="#"># name</a>
                        <div> 12</div>
                    </li>
                    <li class="cat"><a class="link_sub" href="#"># name</a>
                        <div> 12</div>
                    </li>
                </ul>

            </div>

        </div>


        <!-- /*_____________________MIDDLE_________________*/ -->


        <div class=" mid">


            {% block middle %}
            {% endblock middle  %}

        </div>

    {% endblock read_post  %}



    <!-- /*_____________________RIGHT_________________*/ -->
    <div class=" right scrollbar">
                <a href="{% url 'blog:posts' %}">posts|</a>
                <a href="{% url 'blog:create_post' %}">create post|</a>


            {% if user.is_authenticated %}
                <a href="{% url 'users:profile_edit' %}">profile_edit|</a>
                <a href="{% url 'users:logout' %}">logout</a>
            {% else %}
                <a href="{% url 'users:login' %}">Login|</a>
                <a href="{% url 'users:register' %}">registration</a>
            {% endif %}

        {% if user.is_authenticated or obj_post %}
            <div class="block_picture_user">
                <img class="profile-pic"
                     src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'images/default_ava.jpg' %} {% endif %}">
            </div>
            <div class="fullname">
                {% firstof obj_post.author.get_full_name obj_post.author user.get_full_name user %}
            </div>

            <ul class="block_social">
                {% for social in user.social.all %}
                <li class="social_link">
                    <a target="_blank" href="{{ social.link }}">
                        <img class="social_img" src="{{ social.image }}" >
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="user_info">

                {% if obj_post.author %}

                    <div class="user_label">Username</div>
                        <div class="user_date"># {{ obj_post.author }}</div>
                    <div class="user_label">Email</div>
                        <div class="user_date">{{ obj_post.author.email }}</div>
                    <div class="user_label">About me</div>
                        <div style="font-family: cursive" class="user_date"> {{ obj_post.author.about_me }}</div>

                {% else %}

                    <div class="user_label">Username</div>
                        <div class="user_date"># {{ user }}<a href="{% url 'blog:posts_user' %}"> My post</a></div>
                    <div class="user_label">Email</div>
                        <div class="user_date">{{ user.email }}</div>
                    <div class="user_label">About me</div>
                        <div style="font-family: cursive" class="user_date"> {{ user.about_me }}</div>

                {% endif %}


        {% else %}
                {% block left %}
                {% endblock left %}
        {% endif %}

        </div>


    </div>
</div>

<body>

</body>

</html>