{% extends 'blog/base.html' %}
{% load static %}

{% block middle %}
<div class="content">
    <div class="wrapper">
        {% for post in object_list %}
        <div class="post_mini">
                {% if post.image %}
                    <img class="post_image_prev_for_post_mini" src="{{ post.image.url }}">
                {% endif %}

                <h1 class="post_title">
                    {{ post.headline|capfirst }}
                </h1>
                {% if not post.sub_headline is Null %}
                    <p class="post_intro">
                        {{ post.sub_headline|capfirst }}
                    </p>
                {% else %}
                    <p class="post_intro">
                            {{ post.body|truncatewords:10}}
                    </p>
                {% endif %}
                {% if post.tags.all.exists %}
                    <div class="blog_tags">
                        {% for tag in post.tags.all %}
                            <a style="text-decoration: none;" href="#"><span class="teg">{{ tag }}</span></a>
                        {% endfor %}
                    </div>
                {% endif %}
                 <div class="read_more">
                    <a class="link_read_more" target="_blank" href="#">Read more</a>
                    {% if post.author == user %}
                        <a class="link_read_more" target="_blank" href="{% url 'blog:update_post' post.slug  %}">|Edit</a>
                         <a class="link_read_more" href="{% url 'blog:delete_post' post.slug  %}">|Delete</a>
                    {% endif %}
                </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}