{% extends 'blog/base.html' %}

{% load static %}

{% block middle %}
     <div class="top">
                    <form action="" method="GET">
                            {{ post_filter.form.headline}}
                        <input class="search_btn" type="submit" value="SEARCH">
                    </form>
     </div>

        <div class="content">
        {% for post in object_list %}

            <div class="post">

                <div class="block_author">
                    <div>
                        <a href="author={{post.author}}" class="link_author">{{ post.author }}</a>
                        <span class="time"> {{ post.created_at|timesince }} назад
                            </span>
                    </div>
                    <div class="block_count_C_V">

                        <div class="text_C_V">
                            <img src="{% static 'images/icons/comments16.png' %}">count_comments
                            <img src="{% static 'images/icons/views16.png' %}">{{ post.likes }}
                        </div>
                    </div>
                </div>
                {% if post.image %}
                    <img class="post_image_prev" src="{{ post.image.url }}">
                {% endif %}

                <h1 class="post_title">
                    {{ post.headline|capfirst }}
                </h1>
                {% if not post.sub_headline is Null %}
                    <p class="post_intro">
                        {{ post.sub_headline|truncatewords:55 }}
                    </p>
                {% endif %}
                <div class="read_more">
                    <a class="link_read_more" target="_blank" href="{% url 'blog:read_post' post.slug %}">Read</a>
                    {% if post.author == user %}
                        <a class="link_read_more" target="_blank" href="{% url 'blog:update_post' post.slug  %}">|Edit</a>
                         <a class="link_read_more" href="{% url 'blog:delete_post' post.slug  %}">|Delete</a>
                    {% endif %}
                </div>

                {% if post.tags.all.exists %}
                    <div class="blog_tags">
                        {% for tag in post.tags.all %}
                            <a style="text-decoration: none;" href="?tags={{ tag.id }}"><span class="teg">{{ tag }}</span></a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>

    <!-- /*_____________________PAGINATOR_________________*/ -->
    <div class="block_paginator">
        {% if page_obj.has_other_pages %}
        <ul style="list-style-type:none;" class="pagination">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a data-page="{{page_obj.previous_page_number}}" href="?page={{page_obj.previous_page_number}}"
                   class="page-link">&laquo</a>
            </li>
            <li class="page-item">
                <a data-page="1" href="?page=1" class="page-link">First</a>
            </li>
            {% endif %}


            {% for page in paginator.page_range %}
            <li class="page-item">
                {% if page_obj.number == page %}
                <p  class="active_page page-link">{{ page }}</p>
                {% else %}
                <a class="page-link" href="?page={{page}}">{{ page }}</a>
                {% endif %}
            </li>
            {% endfor %}


            {% if page_obj.has_next %}
            <li class="page-item">
                <a data-page="{{page_obj.num_pages}}" href="?page={{page_obj.paginator.num_pages}}" class="page-link">Last</a>
            </li>

            <li class="page-item">
                <a data-page="{{page_obj.next_page_number}}" href="?page={{page_obj.next_page_number}}"
                   class="page-link">&raquo</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>



{% endblock middle %}