{% load static %}


{% if author %}

    <div class="block_picture_user">
        <img class="profile-pic"
             src="{% if author.image %} {{ author.image.url }} {% else %} {% static 'images/default_ava.jpg' %} {% endif %}">
    </div>

    <div class="fullname">
        {% firstof author.get_full_name author %}
    </div>

    <ul class="block_social">
        {% for social in author.social.all %}
        <li class="social_link">
            <a target="_blank" href="{{ social.link }}">
                <img class="social_img" src="{{ social.image }}">
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="user_info">


        <div class="user_label">Username</div>

            <div class="user_date"># {{ author }}

                {% if user.is_authenticated and author != user %}
                <input name="{{ author }}"
                       value="{% if subscribed %}Unsubscribe{% else %}Subscribe{% endif %}"
                       class="btn_sub" type="button">
                {% endif %}
            </div>

            <div class="user_label">Email</div>
            <div class="user_date">{{ author.email }}</div>
            <div class="user_label">About me</div>
            <div style="font-family: cursive" class="user_date"> {{ author.about_me }}
        </div>
    </div>


{% elif user.is_authenticated %}

        <div class="block_picture_user">
            <img class="profile-pic"
                 src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'images/default_ava.jpg' %} {% endif %}">
        </div>

        <div class="fullname">
            {% firstof user.get_full_name user %}
        </div>

        <ul class="block_social">
            {% for social in user.social.all %}
            <li class="social_link">
                <a target="_blank" href="{{ social.link }}">
                    <img class="social_img" src="{{ social.image }}">
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="user_info">
            <div class="user_label">Username</div>
            <div class="user_date"># {{ user }}</div>
            <div class="user_label">Email</div>
            <div class="user_date">{{ user.email }}</div>
            <div class="user_label">About me</div>
            <div style="font-family: cursive" class="user_date"> {{ user.about_me }}</div>
        </div>

{% endif %}
