{% extends 'blog/base.html' %}
{% load static %}

{% load crispy_forms_tags %}


{% block middle %}

<style type="text/css">
                .asteriskField {
                    display: none;
                }
                .textarea{
                    width: 100%;
                    font-size: 15px;
                    font-family: cursive;
                    padding : 5px;
                    border-radius: 5px;
                    box-sizing: border-box;
                    resize:vertical;
                }

</style>


<div class="form_container">
    {% if user.is_authenticated %}
    <form class="register_form" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="teg" type="submit" value="Save">
    </form>
    <a class="teg" href="{% url 'users:change_password' %}">Change password</a>
    <a class="teg" href="{% url 'users:delete_profile' %}">Delete profile</a>
    {% endif %}
</div>

{% endblock %}